{% extends 'base.html' %}  {% block content %}

<div class="card-container">
<div class="About-title">
    <h1>Learn More</h1>
</div>
    <div class="card">
        <div class="card-content">
            <h2>01</h2>
            <h3>Pure Energy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ex vitae repellendus possimus maiores.
                Aut, eligendi. </p>
               
            <a href="/">Activate</a>
          
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h3>Heatlh</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ex vitae repellendus possimus maiores.
                Aut, eligendi. </p>

            <a href="/">Activate</a>
        
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h3>Wealth</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ex vitae repellendus possimus maiores.
                Aut, eligendi. </p>
    
            <a href="/">Activate</a>
           
        </div>
    </div>
</div>
{% endblock %}
