{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %} {% endblock %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <title>Zooty Water</title>
</head>
<body> 
    <main> 
        <section class="glass-container">
        <nav class="navbar" role="navigation">
            <div class="webtitle">
            <h1>Zooty Water</h1>
            </div>
            <div class="navbar_links">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/about">About</a>
            </div>
        </nav>
    </section>
    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>
  
        {% block content %}{% endblock %}
</body>


</html>