{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %} {% endblock %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="{% static 'scripts/main.js' %}" defer></script>
    <title>Zooty Water</title>
</head>
<body> 
    <main> 
        <section class="glass-container">
        <nav class="navbar" role="navigation">
            <div class="navbar_logo">
                <img src="{% static 'images/ZWLOGO.png' %}"alt="logo" class="navbar_img" width="100px" height="100">
            <h1 class="webtitle">Zooty Water</h1>
            </div>
            <div class="navbar_links">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/about">About</a>
            </div>
        </nav>
        <form class="subscribe">
            <div class="subscribe-form">
                <h1>Are you Activated?</h1>
                <p>Sign up and Subscribe for a monthly newsletter.</p>
                <div class="subscribe-info">
                    <input type="text" placeholder="Your Name">
                    <input type="email" placeholder="Your Email">
                </div>
                <input class="subscribe-button" type="submit" value="Subscribe">
            </div>
        </form>
    </section>
    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>
  
        {% block content %}{% endblock %}
</body>


</html>