{% extends 'base.html' %} {% block content %}


<div class="checkout-title">
<h1>Checkout</h1>
</div>
<div class="checkout-card-container">
    <div class="checkout-card">
        <div class="checkout-card-content">
            <h3>{{ user.customer.name }}</h3>
            <ul>
            <li>{{ order.email }}</li>
            <li>{{ order.quantity }}</li>
            <li>{{ order.street_address }}</li>
            <li>{{ order.city }}</li>
            </ul>
            <a class="checkout-link" href="{% url 'checkout' %}">Checkout</a>
            <a class="checkout-update" href="{% url 'order_update' order.pk %}">Update Order</a>
        </div>
    </div>
</div>
<a class="order-delete-button" href="{% url 'order_delete' order.pk %}">Delete Order</a>



{% endblock %}