{% extends 'base.html' %} {% block content %}
<div class="update-order-title">
    <h1>Update Order</h1>
</div>
<div class="update-order-card-container">

    <div class="update-order-card">
        <div class="update-order-card-content">
            <h2>{{user.customer.name}}</h2>
            <div class="update-form">
                <form class="update-order-form" action="" method="post">
                    {% csrf_token %} {{form.as_p}}
                    <input class="update-order-button" type="submit" value="Update" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}