{% extends 'base.html' %} {% block content %}
<div class="card-container">
    <div class="About-title">
        <h1>User Profile</h1>
        
    </div>
    <div class="card">
        <div class="card-content">
            <h3>{{profile.name}}</h3>
            <ul>
                {% if is_subscribe %}
                <i id="battery" class="fas fa-battery-bolt"></i>
                </span>
                </div>
                <li>You are Subscribed!</li>
                {% else %}
                <i id="battery" class="fas fa-bell-slash"></i>
                <li>You are not Subscribed</li>
                {% endif %}
                <li>Email: {{profile.email}} </li>
                <li>Join Date: {{profile.join_date}}</li>

            </ul>
            <a href="{% url 'profile_update' profile.pk%}">update</a>
        </div>
    </div>
   
    {% endblock %}